@tailwind base;
@tailwind components;
@tailwind utilities;

font {
  font-family: Inter;
}

:root {
  --foreground-rgb: 16, 33, 40;
  --background-start-rgba: 22, 45, 51;
  --background-end-rgba: 27, 56, 62;
}

@media color {
  :root {
    --foreground-rgba: 16, 33, 40;
    --background-start-rgba: 22, 45, 51;
    --background-end-rgba: 27, 56, 62;
  }
}

body {
  color: rgb(var(--foreground-rgba));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgba))
    )
    rgb(var(--background-start-rgba));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media only screen and (max-width: 375px) {
  /* Your styles for iPhone screen size here */
}

.bg {
  width: 375px;
  height: 100vh;
  top: -100px;
  background-color: rgb(16, 33, 40), rgb(22, 45, 51), rgb(27, 56, 62);
}

.btn {
  height: 48px;
  top: 354px;
  left: 22px;
  background-color: rgb(71, 157, 216);
}

.input {
  background-color: #253c42;
  position: relative;
}

.icon {
  position: absolute;
  right: 10px;
  left: 310px;
  top: 49%;
  color: white;
  cursor: pointer;
  transform: translateY(-50%);
}

.icon-confirm {
  position: absolute;
  left: 310px;
  right: 10px;
  top: 55%;
  bottom: 55%;
  color: white;
  cursor: pointer;
  transform: translateY(-50%);
}

.btn:active {
  opacity: 100px;
}

.btn:disabled {
  opacity: 30%;
  cursor: not-allowed;
}

.link {
  color: #ffd700;
}

.acc {
  color: white;
}